.container {
  height: 600px;
  width: 900px;
  margin: 48px auto;
}

.btnContainer {
  margin: 24px 0;

  > button {
    margin-right: 6px;
  }
}


.form {
  border-radius: 2px;
  border: 1px solid gray;
  padding: 12px 24px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 400px;

  > div {
    margin-bottom: 16px;
  }
}
